<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>系统检测到您正在使用网页抓取工具访问安居客网站，请卸载删除后访问</title>    <meta name="baidu-site-verification" content="e8abd676df9f995bc969ac138b1c0f4d"/>
    <meta name="sogou_site_verification" content="7rtgKfBjbl"/>
    <meta name="360-site-verification" content="f7b8b308108b2c1c2de2825948822256" />
    <meta name="google-site-verification" content="drkSj5A3WGSgkMXwzh6UfezwLEMsEXoQlMHL25oE1kA" />
    <meta baidu-gxt-verify-token="9e7961d9a5d01603e5c2ae9bccffb9c2"/>
    <meta name="shenma-site-verification" content="da9c53da88979ec98afae25b1ca3e43b" />
    <link rel="stylesheet" rev="stylesheet" href="https://include.anjukestatic.com/anjuke-user/res/20180517.1844.0/b/User_Common_Antispam_AntispamWarn.css" type="text/css" />
    

    <link rel="shortcut icon" href="https://pages.anjukestatic.com/usersite/site/img/global/1/favicon.ico" type="image/ico" />
    <link rel="icon" href="https://pages.anjukestatic.com/usersite/site/img/global/1/favicon.ico" type="image/ico" />
</head>
<body>
        <div class="navhead">
    <div class="header-center clearfix">
        <!-- LOGO -->
        <a href="https://gy.anjuke.com" class="logo">anjuke</a>

        <!-- Navigation -->
            <div class="cityselect">
        <div id="switch_apf_id_5" class="city-view" >
            贵阳<i class="iconfont triangle-down">&#xE030;</i>
        </div>
        <div id="city_list" class="city-list" style="display:none;">
                        <dl>
                <dt>华北东北</dt>
                <dd>
                                        <a href="https://beijing.anjuke.com/" title="北京二手房">北京</a>
                                        <a href="https://tianjin.anjuke.com/" title="天津二手房">天津</a>
                                        <a href="https://dalian.anjuke.com/" title="大连二手房">大连</a>
                                        <a href="https://sjz.anjuke.com/" title="石家庄二手房">石家庄</a>
                                        <a href="https://heb.anjuke.com/" title="哈尔滨二手房">哈尔滨</a>
                                        <a href="https://sy.anjuke.com/" title="沈阳二手房">沈阳</a>
                                        <a href="https://ty.anjuke.com/" title="太原二手房">太原</a>
                                        <a href="https://cc.anjuke.com/" title="长春二手房">长春</a>
                                        <a href="https://weihai.anjuke.com/" title="威海二手房">威海</a>
                                        <a href="https://weifang.anjuke.com/" title="潍坊二手房">潍坊</a>
                                        <a href="https://huhehaote.anjuke.com/" title="呼和浩特二手房">呼和浩特</a>
                                        <a href="https://baotou.anjuke.com/" title="包头二手房">包头</a>
                                    </dd>
            </dl>
                        <dl>
                <dt>华东地区</dt>
                <dd>
                                        <a href="https://shanghai.anjuke.com/" title="上海二手房">上海</a>
                                        <a href="https://hangzhou.anjuke.com/" title="杭州二手房">杭州</a>
                                        <a href="https://suzhou.anjuke.com/" title="苏州二手房">苏州</a>
                                        <a href="https://nanjing.anjuke.com/" title="南京二手房">南京</a>
                                        <a href="https://wuxi.anjuke.com/" title="无锡二手房">无锡</a>
                                        <a href="https://jinan.anjuke.com/" title="济南二手房">济南</a>
                                        <a href="https://qd.anjuke.com/" title="青岛二手房">青岛</a>
                                        <a href="https://ks.anjuke.com/" title="昆山二手房">昆山</a>
                                        <a href="https://nb.anjuke.com/" title="宁波二手房">宁波</a>
                                        <a href="https://nc.anjuke.com/" title="南昌二手房">南昌</a>
                                        <a href="https://fz.anjuke.com/" title="福州二手房">福州</a>
                                        <a href="https://hf.anjuke.com/" title="合肥二手房">合肥</a>
                                        <a href="https://xuzhou.anjuke.com/" title="徐州二手房">徐州</a>
                                        <a href="https://zibo.anjuke.com/" title="淄博二手房">淄博</a>
                                    </dd>
            </dl>
                        <dl>
                <dt>华南地区</dt>
                <dd>
                                        <a href="https://shenzhen.anjuke.com/" title="深圳二手房">深圳</a>
                                        <a href="https://guangzhou.anjuke.com/" title="广州二手房">广州</a>
                                        <a href="https://foshan.anjuke.com/" title="佛山二手房">佛山</a>
                                        <a href="https://cs.anjuke.com/" title="长沙二手房">长沙</a>
                                        <a href="https://sanya.anjuke.com/" title="三亚二手房">三亚</a>
                                        <a href="https://huizhou.anjuke.com/" title="惠州二手房">惠州</a>
                                        <a href="https://dg.anjuke.com/" title="东莞二手房">东莞</a>
                                        <a href="https://haikou.anjuke.com/" title="海口二手房">海口</a>
                                        <a href="https://zh.anjuke.com/" title="珠海二手房">珠海</a>
                                        <a href="https://zs.anjuke.com/" title="中山二手房">中山</a>
                                        <a href="https://xm.anjuke.com/" title="厦门二手房">厦门</a>
                                        <a href="https://nanning.anjuke.com/" title="南宁二手房">南宁</a>
                                        <a href="https://quanzhou.anjuke.com/" title="泉州二手房">泉州</a>
                                        <a href="https://liuzhou.anjuke.com/" title="柳州二手房">柳州</a>
                                    </dd>
            </dl>
                        <dl>
                <dt>中 西 部</dt>
                <dd>
                                        <a href="https://chengdu.anjuke.com/" title="成都二手房">成都</a>
                                        <a href="https://chongqing.anjuke.com/" title="重庆二手房">重庆</a>
                                        <a href="https://wuhan.anjuke.com/" title="武汉二手房">武汉</a>
                                        <a href="https://zhengzhou.anjuke.com/" title="郑州二手房">郑州</a>
                                        <a href="https://xa.anjuke.com/" title="西安二手房">西安</a>
                                        <a href="https://km.anjuke.com/" title="昆明二手房">昆明</a>
                                        <a href="https://gy.anjuke.com/" title="贵阳二手房">贵阳</a>
                                        <a href="https://lanzhou.anjuke.com/" title="兰州二手房">兰州</a>
                                        <a href="https://luoyang.anjuke.com/" title="洛阳二手房">洛阳</a>
                                    </dd>
            </dl>
                        <div class="morecity"><a href="https://www.anjuke.com/sy-city.html">更多城市&gt;</a></div>
        </div>
    </div>
        <ul class="navigation" id="navigation">
                        <li class="">
                <a class="nav-lv1" href="https://gy.anjuke.com/" _soj="navigation">首 页</a>
                            </li>
                        <li class="">
                <a class="nav-lv1" href="https://gy.fang.anjuke.com/" _soj="navigation">新 房</a>
                                    <ul class="xf">
                        <li class="nav-triangle"><span></span></li>
                                                                        <li>
                            <a href="https://gy.fang.anjuke.com/loupan/" _soj="navigation" >
                                新盘                            </a>
                        </li>
                                                                        <li>
                            <a href="https://gy.news.anjuke.com/" _soj="navigation" >
                                楼讯                            </a>
                        </li>
                                                                        <li>
                            <a href="https://gy.fang.anjuke.com/hui/" _soj="navigation" >
                                热门活动                            </a>
                        </li>
                                                                        <li>
                            <a href="https://gy.fang.anjuke.com/kft/" _soj="navigation" >
                                看房团                            </a>
                        </li>
                                                                        <li>
                            <a href="https://gy.fang.anjuke.com/fangyuan/" _soj="navigation" >
                                房源                            </a>
                        </li>
                                                                        <li>
                            <a href="https://gy.fang.anjuke.com/commercial/" _soj="navigation" >
                                商业地产                            </a>
                        </li>
                                                                        <li>
                            <a href="https://haiwai.anjuke.com" _soj="navigation" >
                                海外地产                            </a>
                        </li>
                                                                        <li>
                            <a href="https://gy.fang.anjuke.com/jinrong/" _soj="navigation" >
                                贷款                            </a>
                        </li>
                                                                        <li>
                            <a href="https://gy.fang.anjuke.com/brand/list/" _soj="navigation" >
                                品牌专区                            </a>
                        </li>
                                            </ul>
                            </li>
                        <li class="">
                <a class="nav-lv1" href="https://gy.anjuke.com/sale/" _soj="navigation">二手房</a>
                                    <ul class="">
                        <li class="nav-triangle"><span></span></li>
                                                                        <li>
                            <a href="https://gy.anjuke.com/sale/" _soj="navigation" >
                                房源                            </a>
                        </li>
                                                                        <li>
                            <a href="https://gy.anjuke.com/community/" _soj="navigation" >
                                小区                            </a>
                        </li>
                                                <li class="hr"></li>                        <li>
                            <a href="https://gy.anjuke.com/map/sale/" _soj="navigation"target="_blank" >
                                地图找房                            </a>
                        </li>
                                                                        <li>
                            <a href="https://www.anjuke.com/topic/" _soj="navigation" >
                                主题找房                            </a>
                        </li>
                                                                        <li>
                            <a href="https://gy.anjuke.com/tycoon/" _soj="navigation" >
                                找经纪人                            </a>
                        </li>
                                                                        <li>
                            <a href="https://gy.anjuke.com/tycoon/weiguijingjiren/" _soj="navigation" >
                                违规经纪人                            </a>
                        </li>
                                                                        <li>
                            <a href="https://gy.anjuke.com/propsale/" _soj="navigation" >
                                闪电卖房                            </a>
                        </li>
                                            </ul>
                            </li>
                        <li class="">
                <a class="nav-lv1" href="https://gy.zu.anjuke.com/" _soj="navigation">租 房</a>
                                    <ul class="">
                        <li class="nav-triangle"><span></span></li>
                                                                        <li>
                            <a href="https://gy.zu.anjuke.com/" _soj="navigation" >
                                区域找房                            </a>
                        </li>
                                                <li class="hr"></li>                        <li>
                            <a href="https://gy.zu.anjuke.com/ditu/" _soj="navigation"target="_blank" >
                                地图找房                            </a>
                        </li>
                                                                        <li>
                            <a href="https://gy.anjuke.com/community/" _soj="navigation" >
                                小区                            </a>
                        </li>
                                            </ul>
                            </li>
                        <li class="">
                <a class="nav-lv1" href="https://gy.xzl.anjuke.com/zu/" _soj="navigation">商铺写字楼</a>
                                    <ul class="">
                        <li class="nav-triangle"><span></span></li>
                                                                        <li>
                            <a href="https://gy.xzl.anjuke.com/zu/" _soj="navigation" >
                                写字楼出租                            </a>
                        </li>
                                                                        <li>
                            <a href="https://gy.xzl.anjuke.com/shou/" _soj="navigation" >
                                写字楼出售                            </a>
                        </li>
                                                                        <li>
                            <a href="https://gy.fang.anjuke.com/xzl/all/w5/" _soj="navigation" >
                                写字楼新盘                            </a>
                        </li>
                                                <li class="hr"></li>                        <li>
                            <a href="https://gy.sp.anjuke.com/zu/" _soj="navigation" >
                                商铺出租                            </a>
                        </li>
                                                                        <li>
                            <a href="https://gy.sp.anjuke.com/shou/" _soj="navigation" >
                                商铺出售                            </a>
                        </li>
                                                                        <li>
                            <a href="https://gy.fang.anjuke.com/sp/all/w4/" _soj="navigation" >
                                商铺新盘                            </a>
                        </li>
                                            </ul>
                            </li>
                        <li class="">
                <a class="nav-lv1" href="https://haiwai.anjuke.com" _soj="navigation">海外地产</a>
                            </li>
                        <li class="">
                <a class="nav-lv1" href="https://gy.news.anjuke.com/" _soj="navigation">楼讯</a>
                            </li>
                        <li class="">
                <a class="nav-lv1" href="https://gy.anjuke.com/market/" _soj="navigation">房 价</a>
                            </li>
                        <li class="">
                <a class="nav-lv1" href="https://gy.anjuke.com/ask/" _soj="navigation">问 答</a>
                            </li>
                    </ul>

        <!-- UserLogin Pc_Common_HeaderNavComponent-->
        <div class="nav-right">
            <div id="user_box" class="userbox">
                <i class="icon icon-user"></i>
                <a href="https://login.anjuke.com/login/form?history=aHR0cHM6Ly9neS5hbmp1a2UuY29tL2FudGlzcGFtLWJsb2NrLz9mcm9tPWFudGlzcGFt" rel="nofollow">登录</a>
                <a href="https://user.anjuke.com/register/" rel="nofollow">注册</a>
            </div>

            <a href="https://www.anjuke.com/mobile?from=navigation" rel="nofollow" class="download-app">
                <i class="icon icon-apple"></i>
                <i class="icon icon-android"></i>
                下载APP
            </a>
        </div>
    </div>
</div>
<script id="login_tpl_general" type="text/template">
    <i class="icon icon-user"></i>
    <a href="<%= righturl.myanjuke %>"><%= common.usernamestr && common.usernamestr.replace(/^(.{4}).*$/,'$1...') %></a>
    <% if( common.totalUnreadCount && common.totalUnreadCount > 0 ){ %>
        <i class="icon icon-point"><%= common.totalUnreadCount>99?'99+':common.totalUnreadCount %></i>
    <% } %>
    <i class="triangle-down"></i>
    <ul>
        <% if(righturl.links.expert_home){ %>
        <li><a href="<%= righturl.links.expert_home %>">专家主页</a></li>
        <% } %>
        <% if(righturl.links.ask_center){ %>
        <li><a href="<%= righturl.links.ask_center %>">问答中心</a></li>
        <% } %>
        <% if(righturl.links.expert_home || righturl.links.ask_center){ %>
        <li class="hr"></li>
        <% } %>
        <li><a href="<%= righturl.links.my_favorite %>">我的收藏</a></li>
        <li><a href="<%= righturl.links.view_history %>">浏览历史</a></li>
        <li><a href="<%= righturl.links.subscription_management %>">订阅管理</a></li>
        <li><a href="<%= righturl.links.my_ask %>">我的问答</a></li>
        <li><a href="<%= lefturl.pmurl||'#' %>">我的消息<em><%= common.totalUnreadCount>99?'99+':common.totalUnreadCount %></em></a></li>
        <li><a href="<%= righturl.links.my_ugc %>">我的点评</a></li>
        <li class="hr"></li>
        <li><a target="_blank" href="<%= righturl.links.publish_sell || '#' %>">我要发房</a></li>
        <li><a target="_blank" href="<%= common.my_house||'#' %>">我的房源</a></li>
        <li class="hr"></li>
        <li><a href="<%= lefturl.logouturl||'#' %>">退出</a></li>
    </ul>
</script>
<script id="login_tpl_broker" type="text/template">
    <i class="icon icon-user"></i>
    <a href="<%= righturl.myanjuke %>"><%= common.usernamestr && common.usernamestr.replace(/^(.{4}).*$/,'$1...') %></a>
    <% if( common.totalUnreadCount && common.totalUnreadCount > 0 ){ %>
        <i class="icon icon-point"><%= common.totalUnreadCount>99?'99+':common.totalUnreadCount %></i>
    <% } %>
    <i class="triangle-down"></i>
    <ul>
        <li><a href="<%= lefturl.pmurl||'#' %>">我的消息<em><%= common.totalUnreadCount>99?'99+':common.totalUnreadCount %></em></a></li>
        <li class="hr"></li>
        <li><a href="<%= righturl.myanjuke %>">中国网络经纪人</a></li>
        <% if( common.developUrl ){ %>
            <li><a href="<%= common.developUrl %>">新房分销平台</a></li>
        <% } %>
        <li class="hr"></li>
        <li><a href="<%= lefturl.logouturl||'#' %>">退出</a></li>
    </ul>
</script>
<script id="login_tpl_developer" type="text/template">
    <i class="icon icon-user"></i>
    <a href="<%= righturl.myanjuke %>"><%= common.usernamestr && common.usernamestr.replace(/^(.{4}).*$/,'$1...') %></a>
    <% if( common.totalUnreadCount && common.totalUnreadCount > 0 ){ %>
        <i class="icon icon-point"><%= common.totalUnreadCount>99?'99+':common.totalUnreadCount %></i>
    <% } %>
    <i class="triangle-down"></i>
    <ul>
        <li><a href="<%= lefturl.pmurl||'#' %>">我的消息<em><%= common.totalUnreadCount>99?'99+':common.totalUnreadCount %></em></a></li>
        <li class="hr"></li>
        <% if( common.fytUrl ){ %>
            <li><a href="'+common.fytUrl+'">房易通</a></li>
        <% } %>
        <% if( common.developUrl ){ %>
            <li><a href="<%= common.developUrl %>">新房分销平台</a></li>
        <% } %>
        <% if( common.fytUrl || common.developUrl ){ %>
            <li class="hr"></li>
        <% } %>
        <li><a href="<%= lefturl.logouturl %>">退出</a></li>
    </ul>
</script>
    <div class="error-page clearfix">
    <div style="text-align: center;width:auto; font-size:24px;">
        系统检测到您正在使用网页抓取工具访问安居客网站，请卸载删除后访问    </div>
</div>
    <div id="footer" class="footer">
    <ul class="links">
        <li>
            <a rel="nofollow" href="https://kfzx.anjuke.com/faqList/defaultQue?faqKinds=2">关于安居客</a>
            <em class="spe-lines">|</em>
        </li>
        <li>
            <a rel="nofollow" href="https://kfzx.anjuke.com/faqDetail/queryDetail?faqId=95&faqTypeId=11">联系我们</a>
            <em class="spe-lines">|</em>
        </li>
        <li>
            <a rel="nofollow" href="https://kfzx.anjuke.com/faqDetail/queryDetail?faqId=104&faqTypeId=10">用户协议</a>
            <em class="spe-lines">|</em>
        </li>
        <li>
            <a href="javascript:void(0);" data-target="loan_link">房贷计算器</a>
            <em class="spe-lines">|</em>
        </li>
        <li>
            <a href="javascript:void(0);" data-target="seo_qa">最新问答</a>
            <em class="spe-lines">|</em>
        </li>
        <li>
            <a href="javascript:void(0);" data-target="map_link">网站地图</a>
            <em class="spe-lines">|</em>
        </li>
        <li>
            <a href="javascript:void(0);" data-target="house_link">最新房源</a>
            <em class="spe-lines">|</em>
        </li>
        <li>
            <a href="javascript:void(0);" data-target="other_city">其它城市</a>
            <em class="spe-lines">|</em>
        </li>
        <li>
            <a rel="nofollow" href="https://gy.anjuke.com/friendlink">友情链接</a>
            <em class="spe-lines">|</em>
        </li>
        <li>
            <a rel="nofollow" target="_blank" href="http://www.zx110.org/cxs/index.html">放心搜</a>
            <em class='spe-lines'>|</em>
        </li>
        <li>
                        <a rel='nofollow' target='_blank' href="https://about.anjuke.com/chanpin/?from=home_foot_tgy">推广服务</a>
            <em class='spe-lines'>|</em>
                    </li>
        <li>
            <a rel="nofollow" target="_blank" href="https://biz.anjuke.com/biz/index">渠道招商</a>
        </li>
    </ul>

    <div id="loan_link" class="show-mod loan-link">
        <ul>
                            <li><a href="https://www.anjuke.com/calculator/loan" target="_blank">房贷计算器</a></li>
                            <li><a href="https://www.anjuke.com/calculator/return" target="_blank">提前还款计算器</a></li>
                            <li><a href="https://www.anjuke.com/calculator/qualify" target="_blank">购房能力评估计算器</a></li>
                            <li><a href="https://www.anjuke.com/calculator/personal" target="_blank">公积金贷款计算器</a></li>
                    </ul>
    </div>

    <div id="seo_qa" class="show-mod map-link">
        <ul>
                            <li><a href="https://www.anjuke.com/qa/" target="_blank">按时间查找房产问答</a></li>
                            <li><a href="https://gy.anjuke.com/wenti/" target="_blank">按城市查找贵阳房产问答</a></li>
                            <li><a href="https://m.anjuke.com/qa/suoyin/" target="_blank">手机版按时间查找房产问题</a></li>
                            <li><a href="https://m.anjuke.com/gy/wenti/" target="_blank">手机版按城市查找贵阳房产问答</a></li>
                    </ul>
    </div>

    <div id="map_link" class="show-mod map-link">
        <ul>
                            <li><a href="https://gy.anjuke.com/sitemap/" target="_blank">二手房地图</a></li>
                            <li><a href="https://m.anjuke.com/gy/sitemap/" target="_blank">手机版二手房地图</a></li>
                            <li><a href="https://gy.fang.anjuke.com/fangsitemap/A/" target="_blank">新房楼盘大全</a></li>
                            <li><a href="https://m.anjuke.com/gy/xinfang/sitemap/" target="_blank">手机版新房地图</a></li>
                            <li><a href="https://gy.fang.anjuke.com/fangsitemap/" target="_blank">新房地图</a></li>
                            <li><a href="https://www.anjuke.com/gy/cm/" target="_blank">二手房小区大全</a></li>
                            <li><a href="https://www.anjuke.com/gy/cm-zu/" target="_blank">租房小区大全</a></li>
                            <li><a href="https://m.anjuke.com/gy/xiaoqu/" target="_blank">手机版小区大全</a></li>
                            <li><a href="https://mobile.anjuke.com/esf/gy-cm/" target="_blank">贵阳小区</a></li>
                            <li><a href="https://gy.gongjijin.anjuke.com/" target="_blank">贵阳公积金</a></li>
                            <li><a href="https://gy.anjuke.com" target="_blank">贵阳房产网</a></li>
                            <li><a href="https://gy.fang.anjuke.com" target="_blank">贵阳新房</a></li>
                            <li><a href="https://gy.anjuke.com/sale/" target="_blank">贵阳二手房</a></li>
                            <li><a href="https://gy.zu.anjuke.com" target="_blank">贵阳租房</a></li>
                            <li><a href="https://gy.anjuke.com/market/" target="_blank">贵阳房价</a></li>
                            <li><a href="https://gy.anjuke.com/bieshu-sale/" target="_blank">贵阳别墅出售</a></li>
                            <li><a href="https://gy.anjuke.com/gongyu-sale/" target="_blank">贵阳公寓出售</a></li>
                            <li><a href="https://gy.zu.anjuke.com/gongyu-zufang/" target="_blank">贵阳公寓出租</a></li>
                            <li><a href="https://gy.zu.anjuke.com/hezu-zufang/" target="_blank">贵阳合租房</a></li>
                            <li><a href="https://gy.zu.anjuke.com/geren-zufang/" target="_blank">贵阳个人租房</a></li>
                            <li><a href="https://gy.zu.anjuke.com/bieshu-zufang/" target="_blank">贵阳别墅出租</a></li>
                            <li><a href="https://m.anjuke.com/gy" target="_blank">贵阳房产网</a></li>
                            <li><a href="https://m.anjuke.com/gy/sale/" target="_blank">贵阳二手房</a></li>
                            <li><a href="https://m.anjuke.com/gy/rent/" target="_blank">贵阳租房</a></li>
                            <li><a href="https://m.anjuke.com/gy/trendency/" target="_blank">贵阳房价</a></li>
                            <li><a href="https://m.anjuke.com/gy/qa/" target="_blank">贵阳问答</a></li>
                    </ul>
    </div>

    <div id="house_link" class="show-mod house-link">
        <ul>
                            <li><a href="https://gy.anjuke.com/fang/" target="_blank">二手房</a></li>
                            <li><a href="https://gy.zu.anjuke.com/fang/" target="_blank">租房</a></li>
                            <li><a href="https://m.anjuke.com/gy/propsitemap/esf/" target="_blank">手机版二手房</a></li>
                            <li><a href="https://m.anjuke.com/gy/propsitemap/zf/" target="_blank">手机版租房</a></li>
                            <li><a href="https://gy.fang.anjuke.com/fang/" target="_blank">新房</a></li>
                    </ul>
    </div>

    <div id="other_city" class="show-mod other-city">
        <ul>
                        <li><a href="https://shanghai.anjuke.com">上海房产网</a></li>
                        <li><a href="https://shanghai.anjuke.com/sale/">上海二手房</a></li>
                        <li><a href="https://guangzhou.anjuke.com">广州房产网</a></li>
                        <li><a href="https://guangzhou.anjuke.com/sale/">广州二手房</a></li>
                        <li><a href="https://shenzhen.anjuke.com">深圳房产网</a></li>
                        <li><a href="https://shenzhen.anjuke.com/sale/">深圳二手房</a></li>
                        <li><a href="https://beijing.anjuke.com">北京房产网</a></li>
                        <li><a href="https://beijing.anjuke.com/sale/">北京二手房</a></li>
                        <li><a href="https://chengdu.anjuke.com">成都房产网</a></li>
                        <li><a href="https://chengdu.anjuke.com/sale/">成都二手房</a></li>
                        <li><a href="https://nanjing.anjuke.com">南京房产网</a></li>
                        <li><a href="https://nanjing.anjuke.com/sale/">南京二手房</a></li>
                        <li><a href="https://tianjin.anjuke.com">天津房产网</a></li>
                        <li><a href="https://tianjin.anjuke.com/sale/">天津二手房</a></li>
                        <li><a href="https://hangzhou.anjuke.com">杭州房产网</a></li>
                        <li><a href="https://hangzhou.anjuke.com/sale/">杭州二手房</a></li>
                        <li><a href="https://suzhou.anjuke.com">苏州房产网</a></li>
                        <li><a href="https://suzhou.anjuke.com/sale/">苏州二手房</a></li>
                        <li><a href="https://chongqing.anjuke.com">重庆房产网</a></li>
                        <li><a href="https://chongqing.anjuke.com/sale/">重庆二手房</a></li>
                        <li><a href="https://m.anjuke.com/sy/sale/">三亚二手房</a></li>
                        <li><a href="https://m.anjuke.com/xm/sale/">厦门二手房</a></li>
                        <li><a href="https://m.anjuke.com/zh/sale/">珠海二手房</a></li>
                        <li><a href="https://m.anjuke.com/hui/sale/">惠州二手房</a></li>
                        <li><a href="https://m.anjuke.com/sh/sale/">上海二手房</a></li>
                        <li><a href="https://m.anjuke.com/sz/sale/">深圳二手房</a></li>
                        <li><a href="https://m.anjuke.com/hai/sale/">海口二手房</a></li>
                        <li><a href="https://m.anjuke.com/bj/sale/">北京二手房</a></li>
                        <li><a href="https://m.anjuke.com/sjz/sale/">石家庄二手房</a></li>
                        <li><a href="https://m.anjuke.com/hz/sale/">杭州二手房</a></li>
                        <li><a href="https://m.anjuke.com/gz/sale/">广州二手房</a></li>
                        <li><a href="https://m.anjuke.com/su/sale/">苏州二手房</a></li>
                        <li><a href="https://m.anjuke.com/nj/sale/">南京二手房</a></li>
                        <li><a href="https://m.anjuke.com/tj/sale/">天津二手房</a></li>
                        <li><a href="https://m.anjuke.com/ks/sale/">昆山二手房</a></li>
                        <li><a href="https://m.anjuke.com/dg/sale/">东莞二手房</a></li>
                        <li><a href="https://m.anjuke.com/cc/sale/">长春二手房</a></li>
                        <li><a href="https://m.anjuke.com/zz/sale/">郑州二手房</a></li>
                        <li><a href="https://m.anjuke.com/heb/sale/">哈尔滨二手房</a></li>
                        <li><a href="https://m.anjuke.com/ty/sale/">太原二手房</a></li>
                        <li><a href="https://m.anjuke.com/dl/sale/">大连二手房</a></li>
                        <li><a href="https://m.anjuke.com/nn/sale/">南宁二手房</a></li>
                        <li><a href="https://m.anjuke.com/hf/sale/">合肥二手房</a></li>
                        <li><a href="https://m.anjuke.com/fz/sale/">福州二手房</a></li>
                        <li><a href="https://m.anjuke.com/qd/sale/">青岛二手房</a></li>
                        <li><a href="https://m.anjuke.com/jn/sale/">济南二手房</a></li>
                        <li><a href="https://m.anjuke.com/km/sale/">昆明二手房</a></li>
                        <li><a href="https://m.anjuke.com/wh/sale/">武汉二手房</a></li>
                        <li><a href="https://m.anjuke.com/cs/sale/">长沙二手房</a></li>
                        <li><a href="https://m.anjuke.com/cq/sale/">重庆二手房</a></li>
                        <li><a href="https://m.anjuke.com/shen/sale/">沈阳二手房</a></li>
                        <li><a href="https://m.anjuke.com/xa/sale/">西安二手房</a></li>
                        <li><a href="https://m.anjuke.com/fs/sale/">佛山二手房</a></li>
                        <li><a href="https://m.anjuke.com/nc/sale/">南昌二手房</a></li>
                        <li><a href="https://m.anjuke.com/wx/sale/">无锡二手房</a></li>
                        <li><a href="https://m.anjuke.com/cd/sale/">成都二手房</a></li>
                        <li><a href="https://beijing.gongjijin.anjuke.com/">北京公积金</a></li>
                        <li><a href="https://chengdu.gongjijin.anjuke.com/">成都公积金</a></li>
                        <li><a href="https://guangzhou.gongjijin.anjuke.com/">广州公积金</a></li>
                        <li><a href="https://hangzhou.gongjijin.anjuke.com/">杭州公积金</a></li>
                        <li><a href="https://nanjing.gongjijin.anjuke.com/">南京公积金</a></li>
                        <li><a href="https://shanghai.gongjijin.anjuke.com/">上海公积金</a></li>
                        <li><a href="https://shenzhen.gongjijin.anjuke.com/">深圳公积金</a></li>
                        <li><a href="https://suzhou.gongjijin.anjuke.com/">苏州公积金</a></li>
                        <li><a href="https://tianjin.gongjijin.anjuke.com/">天津公积金</a></li>
                        <li><a href="https://chongqing.gongjijin.anjuke.com/">重庆公积金</a></li>
                    </ul>
    </div>

    <div class="cp-mod">
        <a rel="nofollow" href="https://kfzx.anjuke.com/" target="_blank">客户服务中心</a>&ensp;&ensp;&ensp;
        邮箱：<a href="mailto:service@58ganji.com" target="_blank" rel="nofollow">service@58ganji.com</a>&ensp;&ensp;&ensp;
        Copyright&nbsp;&copy;&nbsp;2007-2018&ensp;www.anjuke.com&ensp;All Rights Reserved&ensp;&ensp;&ensp;<a href="http://www.miibeian.gov.cn/" rel="nofollow">ICP号：沪&ensp;B2-20090008</a>
    </div>

    
    </div>
    <!-- 侧边栏 -->
    <div class="sidebar">
    <div class="sidebar-mod sidebar-nav">
        <a href="https://www.anjuke.com/propsale/" rel="nofollow" class="sid-nav" data-soj="right_sidebar" target="_blank">
            <span class="iconfont iconfont22">&#xE089;</span>
            <p>卖房</p>
            <em class="nav-arrow"></em>
            <div class="sidebar-nav-hover">房东卖房</div>
        </a>
        <a href="https://kfzx.anjuke.com/" rel="nofollow" class="sid-nav" data-soj="right_sidebar" target="_blank">
            <span class="iconfont">&#xE087;</span>
            <p>帮助</p>
            <em class="nav-arrow"></em>
            <div class="sidebar-nav-hover">使用帮助</div>
        </a>
        <a href="https://www.wenjuan.com/s/NbqIZr" id="sid_survey" class="sid-nav" rel="nofollow" target="_blank">
            <span class="iconfont">&#xE088;</span>
            <p>调研</p>
            <em class="nav-arrow"></em>
            <div class="sidebar-nav-hover">用户调研</div>
        </a>
        <a href="javascript:void(0);" class="sid-nav">
            <span class="iconfont">&#xE090;</span>
            <p>下载</p>
            <em class="nav-arrow nav-sao"></em>
            <div class="sidebar-nav-hover sidebar-sao">下载安居客APP</div>
        </a>
        <a href="https://about.anjuke.com/chanpin/" class="sid-nav" data-soj="right_sidebar" target="_blank">
            <span class="iconfont">&#xE111;</span>
            <p>推广</p>
            <em class="nav-arrow"></em>
            <div class="sidebar-nav-hover">推广咨询</div>
        </a>
    </div>
</div>
<div class="sidebar-mod sidebar-top">
    <a href="javascript:void(0);" class="sid-nav">
        <span class="iconfont">&#xE007;</span>
        <em class="nav-arrow"></em>
        <div class="sidebar-nav-hover">返回顶部</div>
    </a>
</div>

    

<script type="text/javascript" crossorigin src="https://pages.anjukestatic.com/usersite/site/js/jquery/1.11.3/jquery-underscore.min.js"></script>
<script type="text/javascript" crossorigin src="https://pages.anjukestatic.com/usersite/site/js/bbv10.js"></script>
<script type="text/javascript" crossorigin src="https://include.anjukestatic.com/anjuke-user/res/20180517.1844.0/b/User_Common_Antispam_AntispamWarn.js"></script>
<script type="text/javascript">

$(function(){
    ajk.citySelector = new ajk.DropDown($('#switch_apf_id_5'),$('#city_list'),500);
});

    $(function(){
        new ajk.UserLogin({
            userbox:'#user_box',
            getUserInfo:function(da,callback){
                 $.post("https://user.anjuke.com"+'/ajax/checkMenu/'+'?r='+Math.random(),
                    function(r){
                        callback(r);
                    },'jsonp')
            }
        });
    });

jQuery(function(){
    new ajk.pc.sideBar();
})
</script>
    <script>
    ;(function(){
        ajk.Logger.setSite('anjuke');
        ajk.Logger.setPage('User_Common_Antispam_AntispamWarnPage');
        ajk.Logger.setPageName('User_Common_Antispam_AntispamWarnPage');
        ajk.Logger.setCtid('');
        var sojData = {
            'customparam':'{}'
        }
        ajk.Logger.sendSoj(sojData);
    })();
    </script>
    <!-- START: 性能测试监控 -->
    <script>
        $(function(){
            var v = "1501241237",
                src = "//pages.anjukestatic.com/prism/performance.js?v="+v;
            $.ajax({
              url: src,
              dataType: "script",
              cache:true,
              success: function(){
                window.perfConfig = {
                    pageName : 'User_Common_Antispam_AntispamWarnPage',
                    siteName : 'ershoufang'
                };
              }
            });
        });
    </script>
    <!-- END: 性能测试监控 -->

        <!-- 初始化曝光 -->
    <script>
        $(function(){
            ajk.exposure = new ajk.Logger.Exposure({
                site:'anjuke-exposure-npv',
                page:'User_Common_Antispam_AntispamWarnPage',
                pageName:'User_Common_Antispam_AntispamWarnPage',
                NGuid:'',
                NUid:''
            });
            ajk.exposure.add($('[data-trace]'));
        });
    </script>
    
    <script type="text/javascript">
(function(param){
       var c = {query:[], args:param||{}};
       c.query.push(["_setAccount","8"]);//固定参数
       (window.__zpSMConfig = window.__zpSMConfig||[]).push(c);
       var zp = document.createElement("script"); zp.type = "text/javascript"; zp.async = true;
       zp.src = ("https:" == document.location.protocol ? "https:" : "http:") + "//cdn.zampda.net/s.js";
       var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(zp, s);
}) (window.__zp_tag_params);
</script>


        <script>
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https'){
   bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
  }
  else{
  bp.src = 'http://push.zhanzhang.baidu.com/push.js';
  }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>

    </body>
</html>
