<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>AngularJS表格示例</title>
    <script src="angular.min.js"></script>
    <style>
        table, th, td {
            border: 1px solid grey;
            border-collapse: collapse;
            padding: 5px;
        }

        table tr:nth-child(odd) {
            background-color: #f2f2f2;
        }

        table tr:nth-child(even) {
            background-color: #ffffff;
        }
    </style>
</head>
<body>
<h2>AngularJS 表格应用示例</h2>
<div ng-app="mainApp" ng-controller="studentController">
    <table border="0">
        <tr>
            <td>姓:</td>
            <td><input type="text" ng-model="student.firstName"></td>
        </tr>
        <tr>
            <td>名:</td>
            <td><input type="text" ng-model="student.lastName"></td>
        </tr>
        <tr>
            <td>名字:</td>
            <td>{{student.fullName()}}</td>
        </tr>
        <tr>
            <td>科目:</td>
            <td>
                <table>
                    <tr>
                        <th>名字</th>
                        <th>标记</th>
                    </tr>
                    <!--使用ng-repeat达到循环显示所有科目的效果-->
                    <tr ng-repeat="subject in student.subjects">
                        <td>{{ subject.name }}</td>
                        <td>{{ subject.marks }}</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
<script>
    var mainApp = angular.module("mainApp", []);

    mainApp.controller('studentController', function ($scope) {
        $scope.student = {
            firstName: "周",
            lastName: "杰伦",
            fees: 500,
            subjects: [
                {name: '物理', marks: 73},
                {name: '化学', marks: 90},
                {name: '数学', marks: 68},
                {name: '英文', marks: 85},
                {name: '生物', marks: 77}
            ],
            fullName: function () {
                var studentObject;
                studentObject = $scope.student;
                return studentObject.firstName + " " + studentObject.lastName;
            }
        };
    });
</script>
</body>
</html>